<form class="example-form" [formGroup]="formulario" (ngSubmit)="salvar()">
  <mat-form-field class="example-full-width"  style="text-align:center">
    <input matInput formControlName="nome" placeholder="Nome do cliente" [(ngModel)]="cliente.nome">
  </mat-form-field>
  <mat-form-field class="example-full-width"  style="text-align:center">
    <input matInput formControlName="cpf" placeholder="CPF do cliente" [(ngModel)]="cliente.cpf">
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Cliente"  formControlName="cli" [(ngModel)]="cli">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let clien of client" [value]="clien">{{clien.nome}}</mat-option>
  </mat-select>
</mat-form-field>
<p> Selected: {{cli.nome}} </p>
</form>
<div class="example-button-row" style="text-align:right">
  <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
  {{' '}}
  <button mat-raised-button color="primary">Editar</button>
  {{' '}}
  <button mat-raised-button color="primary">Excluir</button>
</div>