<div class="div-fundo-verde">
<div style="text-align:center">
  <h1>Atendimento Prev-Odonto!</h1>
</div>
<div class="example-button-row" style="text-align:center">

  <button mat-raised-button color="primary" (click)="LogCadAtendimento()">Cadastro de Atendimento</button>
  {{' '}}
  <button mat-raised-button color="primary" (click)="LogCadCliente()">Cadastro de Clientes</button>
  {{' '}}
  <button mat-raised-button color="primary" (click)="LogCadDentista()">Cadastro de Dentistas</button>
  {{' '}}
  <button mat-raised-button color="primary" (click)="LogListaAtendimento()">Lista de Atendimento</button>
</div>
<h1>____________________________________________________________________________________</h1>
</div>

  <router-outlet></router-outlet>
