<form class="example-form">
  <mat-form-field class="example-full-width" style="text-align:center">
      <input matInput placeholder="Nome do cliente" value="José da Silva">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="text-align:center">
        <input matInput placeholder="Nome do Dentista" value="Fernando Oliveira">
      </mat-form-field>
<mat-form-field class="example-full-width" style="text-align:center">
  <input matInput placeholder="Data e Hora do Atendimento" value="20/11/2018 14:30">
</mat-form-field>
<mat-form-field class="example-full-width" style="text-align:center">
  <input matInput placeholder="Serviço a ser realizado" value="Manutenção ortodôntica">
</mat-form-field>
<mat-form-field class="example-full-width" style="text-align:center">
    <input matInput placeholder="Estado do paciente" value="Pendente para atendimento">
  </mat-form-field>
</form>
<div class="example-button-row" style="text-align:right">
  <button mat-raised-button color="primary">Salvar</button>
  {{' '}}
  <button mat-raised-button color="primary">Editar</button>
  {{' '}}
  <button mat-raised-button color="primary">Excluir</button>
</div>